# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Flutter/Dart specific
**/build/
**/ios/Pods/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework/
**/ios/Flutter/App.framework/Info.plist
**/ios/Flutter/App.framework/Flutter
**/ios/Flutter/App.framework/flutter_export_environment.plist

# Android specific
**/android/build/
**/android/app/build/
**/android/gradle/wrapper/gradle-wrapper.properties
**/android/gradle.properties
**/android/local.properties
**/android/app/local.properties

# VS Code specific
.vscode/

# IntelliJ/Android Studio specific
.idea/
*.iml
*.iws
*.ipr
*.lock
*.log
